.splited-element:last-child {
     border-top-color: white;
     border-top-style: solid;
     border-top-width: 1px;
     padding-top: 12px !important;
     margin-top: 12px;
 }

.right-alignment {
    position: absolute;
    right: 10px;
}

vc-customer-search {
    -o-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
