<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix" ng-controller="virtoCommerce.customerModule.customerDetailController">
            <form class="form" name="detailForm">
                <va-metaform registered-inputs="blade.metaFields0" blade="blade" column-count="2"></va-metaform>
                
                <div class="form-group" ng-init="setForm(detailForm)">
                    <va-widget-container group="customerDetail1" blade="blade" gridster-opts="{columns: 3}"></va-widget-container>
                </div>

                <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="2"></va-metaform>

                <div class="form-group">
                    <va-widget-container group="customerDetail2" blade="blade" data="blade.currentEntity" gridster-opts="{columns: 3}"></va-widget-container>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/ng-template" id="firstName.html">
    <div class="form-input">
        <input ng-model="blade.currentEntity.firstName" ng-blur="blade.currentEntity.fullName=blade.currentEntity.firstName+' '+blade.currentEntity.lastName" focus-on="" required placeholder="{{'customer.blades.contact-detail.placeholders.first-name' | translate}}" />
    </div>
</script>
<script type="text/ng-template" id="lastName.html">
    <div class="form-input">
        <input ng-model="blade.currentEntity.lastName" ng-blur="blade.currentEntity.fullName=blade.currentEntity.firstName+' '+blade.currentEntity.lastName" required placeholder="{{'customer.blades.contact-detail.placeholders.last-name' | translate}}" />
    </div>
</script>
<script type="text/ng-template" id="fullName.html">
    <div class="form-input">
        <input ng-model="blade.currentEntity.fullName" ng-blur="!blade.currentEntity.fullName && (blade.currentEntity.fullName=blade.currentEntity.firstName+' '+blade.currentEntity.lastName)" placeholder="{{'customer.blades.contact-detail.placeholders.full-name' | translate}}" />
    </div>
</script>
<script type="text/ng-template" id="status.html">
    <div class="form-group">
        <label class="form-label">
            {{ 'customer.blades.shared.labels.status' | translate }}
            <a href="" ng-click="blade.openStatusSettingManagement('Customer.ContactStatuses')" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a>
        </label>
        <div class="form-input">
            <ui-select ng-model="blade.currentEntity.status" ng-init="blade.loadStatuses('Customer.ContactStatuses')">
                <ui-select-match placeholder="{{ 'customer.blades.shared.placeholders.status' | translate }}">{{ blade.currentEntity.status }}</ui-select-match>
                <ui-select-choices repeat="x in blade.statuses | filter: $select.search">
                    <span ng-bind-html="x | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</script>
<script type="text/ng-template" id="groups.html">
    <div class="form-group">
        <label class="form-label">{{'customer.blades.contact-detail.labels.groups' | translate}}  <a href="" ng-click="blade.openGroupsDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a></label>
        <div class="form-input" data-role="input-control">
            <ui-select multiple ng-model="blade.currentEntity.groups">
                <ui-select-match placeholder="{{'customer.blades.contact-detail.placeholders.groups' | translate}}">{{$item}}</ui-select-match>
                <ui-select-choices repeat="x in blade.groups | filter: $select.search">
                    <span ng-bind-html="x | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="organizations.html">
    <ui-scroll-drop-down multiple
                         page-size="50"
                         ng-model="blade.currentEntity.organizations"
                         on-select="blade.selectOrganization(item)"
                         on-remove="blade.removeOrganization(item)"
                         data="blade.fetchOrganizations(criteria)"
                         placeholder="'customer.blades.contact-detail.placeholders.organizations'">
    </ui-scroll-drop-down>
</script>
<script type="text/ng-template" id="associatedOrganizations.html">
    <ui-scroll-drop-down multiple
                         page-size="50"
                         ng-model="blade.currentEntity.associatedOrganizations"
                         data="blade.fetchOrganizations(criteria)"
                         placeholder="'customer.blades.contact-detail.placeholders.associated-organizations'">
    </ui-scroll-drop-down>
</script>
<script type="text/ng-template" id="defaultOrganization.html">

  
  <ui-scroll-drop-down ng-if="blade.redrawTrigger"
                       ng-model="blade.currentEntity.defaultOrganizationId"
                       data="blade.fetchSelectedOrganizations()"
                       placeholder="'customer.blades.contact-detail.placeholders.associated-organizations'">
  </ui-scroll-drop-down>
</script>
<script type="text/ng-template" id="birthDate.html">
    <div class="form-input __calendar">
        <input type="text" class="form-control" ng-model="blade.currentEntity.birthDate" datepicker-popup name="bd" is-open="blade.datepickers.bd" max-date="blade.today" placeholder="{{'customer.blades.contact-detail.placeholders.birthday' | translate}}" />
        <button class="btn" type="button" ng-click="blade.open($event,'bd')">
            <i class="btn-ico fa fa-calendar"></i>
        </button>
    </div>
</script>
<script type="text/ng-template" id="timeZone.html">
    <div class="form-input">
        <ui-select ng-model="blade.currentEntity.timeZone">
            <ui-select-match placeholder="{{'customer.blades.contact-detail.placeholders.timezone' | translate }}">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="x.id as x in blade.timeZones | filter: { name: $select.search }">
                <span ng-bind-html="x.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</script>

<script type="text/ng-template" id="language.html">
    <div class="form-input">
      <ui-select ng-model="blade.currentEntity.defaultLanguage">
        <ui-select-match allow-clear placeholder="{{ 'customer.blades.contact-detail.placeholders.defaultLanguage' | translate }}">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="x in blade.languages | filter: $select.search">
          <span ng-bind-html="x | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
</script>

<script type="text/ng-template" id="currencyCode.html">
  <div class="form-input">
    <ui-select ng-model="blade.currentEntity.currencyCode">
      <ui-select-match allow-clear placeholder="{{'customer.blades.contact-detail.placeholders.currency' | translate}}">{{$select.selected.code}}</ui-select-match>
      <ui-select-choices repeat="x.code as x in blade.currencies | filter: $select.search">
        <span ng-bind-html="x.code | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>
