<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block clearfix">
      <form class="form" name="detailForm">
        <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="1" ng-init="setForm(detailForm)"></va-metaform>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="invite-stores.html">
  <ui-scroll-drop-down required
                       ng-model="blade.currentEntity.storeId"
                       data="blade.fetchStores(criteria)"
                       on-select="blade.selectStore(item)"
                       placeholder="'customer.blades.invite-customers.placeholders.store'">
  </ui-scroll-drop-down>
</script>

<script type="text/ng-template" id="invite-languages.html">
  <ui-scroll-drop-down ng-if="blade.languagesReloaded"
                       disabled="!blade.currentEntity.storeId"
                       ng-model="blade.currentEntity.language"
                       data="blade.fetchStoreLanguages()"
                       placeholder="'customer.blades.invite-customers.placeholders.language'">
  </ui-scroll-drop-down>
</script>

<script type="text/ng-template" id="invite-organizations.html">
  <ui-scroll-drop-down ng-model="blade.currentEntity.organizationId"
                       data="blade.fetchOrganizations(criteria)"
                       placeholder="'customer.blades.invite-customers.placeholders.organization'">
  </ui-scroll-drop-down>
</script>

<script type="text/ng-template" id="invite-roles.html">
  <ui-scroll-drop-down ng-model="blade.currentEntity.roleId"
                       data="blade.fetchRoles(criteria)"
                       placeholder="'customer.blades.invite-customers.placeholders.role'">
  </ui-scroll-drop-down>
</script>

<script type="text/ng-template" id="invite-emails.html">
  <tags-input ng-model="blade.currentEntity.emailObjects"
              ng-required="true"
              add-on-enter="true"
              on-tag-adding="blade.emailAdding($tag)"
              on-tag-added="blade.emailAdded($tag)"
              placeholder="{{'customer.blades.invite-customers.placeholders.emails' | translate}}">
  </tags-input>
</script>

