<div class="blade-static" ng-class="{'__expanded': blade.breadcrumbs.length > 0}">
    <va-breadcrumb ng-model="blade.breadcrumbs" blade-id="blade.id" blade-maximized="blade.isMaximized" ng-if="blade.breadcrumbs.length"></va-breadcrumb>
    <div class="form-group" style="display: flex; align-items: center;">
        <va-filter-panel
            has-active-filters="blade.filter.hasActiveFilters()"
            on-clear-filters="blade.filter.clearFilters()"
            search-text="blade.filter.keyword"
            filter-title="{{ 'customer.blades.member-list.labels.filter-button-hint' | translate }}">

            <div class="va-filter-panel__row">
                <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-member-type' | translate }}</span>
                <select class="va-filter-panel__select"
                        ng-model="blade.filter.memberType"
                        ng-change="blade.filter.criteriaChanged()"
                        ng-options="t.memberType as ((t.memberType || 'customer.blades.member-list.labels.member-type-all') | translate) for t in blade.filter.memberTypes">
                </select>
            </div>

            <div class="va-filter-panel__row">
                <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-created-date' | translate }}</span>
                <select class="va-filter-panel__select"
                        ng-model="blade.filter.createdDateRange"
                        ng-change="blade.filter.dateRangeChanged('created')"
                        ng-options="r.value as (r.label | translate) for r in blade.filter.dateRanges">
                </select>
            </div>
            <div ng-if="blade.filter.createdShowCustomInputs" class="va-filter-panel__row" style="flex-direction: column; align-items: stretch;">
                <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                    <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-from' | translate }}</span>
                    <input type="date" class="va-filter-panel__date-input" ng-model="blade.filter.createdCustomStartDate" />
                </div>
                <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                    <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-to' | translate }}</span>
                    <input type="date" class="va-filter-panel__date-input" ng-model="blade.filter.createdCustomEndDate" />
                </div>
                <button class="btn __primary" style="width: 100%; margin-top: 8px;"
                        ng-click="blade.filter.applyCustomRange('created')"
                        ng-disabled="!blade.filter.createdCustomStartDate && !blade.filter.createdCustomEndDate">
                    {{ 'customer.blades.member-list.labels.filter-apply' | translate }}
                </button>
            </div>
            <div ng-if="blade.filter.createdCustomRangeApplied && !blade.filter.createdShowCustomInputs" class="va-filter-panel__row">
                <span class="va-filter-panel__label">
                    {{blade.filter.formatDate(blade.filter.createdStartDate)}} &mdash; {{blade.filter.formatDate(blade.filter.createdEndDate)}}
                </span>
                <a href="" ng-click="blade.filter.editCustomRange('created')">
                    {{ 'customer.blades.member-list.labels.filter-edit' | translate }}
                </a>
            </div>

            <div class="va-filter-panel__row">
                <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-modified-date' | translate }}</span>
                <select class="va-filter-panel__select"
                        ng-model="blade.filter.modifiedDateRange"
                        ng-change="blade.filter.dateRangeChanged('modified')"
                        ng-options="r.value as (r.label | translate) for r in blade.filter.dateRanges">
                </select>
            </div>
            <div ng-if="blade.filter.modifiedShowCustomInputs" class="va-filter-panel__row" style="flex-direction: column; align-items: stretch;">
                <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                    <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-from' | translate }}</span>
                    <input type="date" class="va-filter-panel__date-input" ng-model="blade.filter.modifiedCustomStartDate" />
                </div>
                <div style="display: flex; justify-content: space-between; padding: 4px 0;">
                    <span class="va-filter-panel__label">{{ 'customer.blades.member-list.labels.filter-to' | translate }}</span>
                    <input type="date" class="va-filter-panel__date-input" ng-model="blade.filter.modifiedCustomEndDate" />
                </div>
                <button class="btn __primary" style="width: 100%; margin-top: 8px;"
                        ng-click="blade.filter.applyCustomRange('modified')"
                        ng-disabled="!blade.filter.modifiedCustomStartDate && !blade.filter.modifiedCustomEndDate">
                    {{ 'customer.blades.member-list.labels.filter-apply' | translate }}
                </button>
            </div>
            <div ng-if="blade.filter.modifiedCustomRangeApplied && !blade.filter.modifiedShowCustomInputs" class="va-filter-panel__row">
                <span class="va-filter-panel__label">
                    {{blade.filter.formatDate(blade.filter.modifiedStartDate)}} &mdash; {{blade.filter.formatDate(blade.filter.modifiedEndDate)}}
                </span>
                <a href="" ng-click="blade.filter.editCustomRange('modified')">
                    {{ 'customer.blades.member-list.labels.filter-edit' | translate }}
                </a>
            </div>

        </va-filter-panel>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block" ng-init="setGridOptions('memberlist-grid', {
                    useExternalSorting: true,
                    data: 'listEntries',
                    rowTemplate: 'member-list.row.html',
                    rowHeight: 61,
                    columnDefs: [
                                { name: 'actions', displayName: '', enableColumnResizing: false, enableSorting: false, width: 30, cellTemplate: 'list-actions.cell.html', pinnedLeft:true },
                                {
                                  name: 'memberType', displayName: 'customer.blades.member-list.labels.type', headerTooltip: 'Type of contact',
                                  enableColumnResizing: false, width: 60, cellTemplate: 'member-list-icon.cell.html', sort: { direction: uiGridConstants.DESC }
                                },
                                { name: 'name', displayName: 'customer.blades.member-list.labels.name', sort: { direction: uiGridConstants.ASC } }
                        ]})">
            <div class="note" ng-if="!listEntries.length">{{ 'platform.list.no-data' | translate }}</div>
            <div class="table-wrapper" ng-if="listEntries.length">
                <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-height></div>
                <ul class="menu __context" role="menu" id="cml_menu_{{blade.level}}">
                  <li class="menu-item" ng-click='blade.showDetailBlade(contextMenuEntity)'>
                    <i class="menu-ico fa fa-edit"></i> {{'platform.commands.manage' | translate}}
                  </li>
                  <li class="menu-item" ng-click='copy(contextMenuEntity.id)'>
                    <i class="menu-ico fa fa-copy"></i> {{'customer.blades.member-list.labels.copy-id' | translate}}
                  </li>
                  <li class="menu-item" ng-click='copy(contextMenuEntity.name)'>
                    <i class="menu-ico fa fa-copy"></i> {{'customer.blades.member-list.labels.copy-name' | translate}}
                  </li>
                  <li class="menu-item" ng-click='delete(contextMenuEntity)' va-permission="customer:delete">
                    <i class="menu-ico fas fa-trash-alt"></i> {{'platform.commands.delete' | translate}}
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="member-list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'" class="ui-grid-cell" ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__hovered': grid.appScope.contextMenuEntity === row.entity, '__selected': row.entity.id===grid.appScope.selectedNodeId }" role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}" ui-grid-cell context-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cml_menu_{{blade.level}}"></div>
</script>
<script type="text/ng-template" id="list-actions.cell.html">
    <div class="ui-grid-actions" left-click-menu="grid.appScope.contextMenuEntity = row.entity" data-target="cml_menu_{{grid.appScope.blade.level}}">
        <i class="fa fa-ellipsis-v"></i>
    </div>
</script>

<script type="text/ng-template" id="member-list-icon.cell.html">
    <div class="ui-grid-cell-contents">
        <div class="product-img" ng-attr-title="{{COL_FIELD}}">
            <i class="table-ico" ng-if="!row.entity.iconUrl" ng-class="row.entity._memberTypeIcon ? row.entity._memberTypeIcon : 'fa-user'"></i>
            <i class="table-ico" ng-if="row.entity.iconUrl">
                <img class="list-icon" fallback-src="{{ row.entity.iconUrl}}" ng-src="{{ row.entity.iconUrl | thumbnail: '_64x64' }}">
            </i>
        </div>
    </div>
</script>