<div class="blade-static __bottom" ng-if="blade.pageSettings.numPages > 1" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <div ui-grid="gridOptions"
                     ui-grid-auto-resize
                     ui-grid-selection
                     ui-grid-resize-columns
                     ui-grid-height>
                </div>
            </div>
            <div class="padder" ng-if="!blade.isLoading && blade.currentEntities.length === 0">
                {{ 'platform.list.no-data' | translate }}
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="org-memberships-list.row.html">
    <div ng-click="grid.appScope.selectNode(row.entity)"
         ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
         ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
         class="ui-grid-cell"
         ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__selected': row.entity.id === grid.appScope.selectedNodeId}"
         role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
         ui-grid-cell>
    </div>
</script>

<script type="text/ng-template" id="org-memberships-type.cell.html">
    <div class="ui-grid-cell-contents">
        {{ (row.entity.organizationId ? 'customer.blades.organization-memberships-list.type-org' : 'customer.blades.organization-memberships-list.type-global') | translate }}
    </div>
</script>

<script type="text/ng-template" id="org-memberships-roles.cell.html">
    <div class="ui-grid-cell-contents">
        {{ grid.appScope.formatRoles(row.entity.roles) }}
    </div>
</script>

<script type="text/ng-template" id="org-memberships-status.cell.html">
    <div class="ui-grid-cell-contents">
        {{ (row.entity.isLocked ? 'customer.blades.organization-memberships-list.status-locked' : 'customer.blades.organization-memberships-list.status-active') | translate }}
    </div>
</script>
